{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="login">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="custom-box">
            <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
            <label for="inputUsername">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-2" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="text-right form-group mt-3 " >
                <input type="hidden" name="_target_path" value="{{ path('jmose_command_scheduler_list') }}"/>
                <button type="submit" class="text-info btn btn-primary custom-btn">Login</button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}
